<div class="container">
  <h2>Edit <%= @listing.name %> </h2>

  <%= simple_form_for(@listing) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :location %>
    <%= f.input :availability %>
    <%= f.input :image, as: :file, label: "Image of your item:" %>
    <%= f.button :submit %>
  <% end %>
</div>
