<div class="row justify-content-center" id="new-form">
  <div class=" col-12 col-md-6 col-lg-4" id="form-container">
    <h2 class="text-center">Create a Listing</h2>
      <%= simple_form_for @listing do |f| %>
        <%= f.input :name %>
        <%# change to f.association :category %>
        <%= f.input :category %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :location %>
        <%= f.input :availability %>
        <%= f.input :image, as: :file, label: "Image of your item:" %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
