<h2>Create a Listing</h2>

<%= simple_form_for @listing do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :location %>
  <%= f.input :availability %>
  <%= f.input :image, as: :file, label: "Image of item:" %>
  <%= f.button :submit %>
<% end %>

<p><%= link_to "See all Listings", listings_path %></p>


<!-- show -->
