<<<<<<< HEAD
<div class="container">

  <div class="card" style="width: 30em; margin:0 auto;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1575361204480-aadea25e6e68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80" class="img-fluid" alt="Responsive image" alt="Card image cap">
=======
<h2> <%= @listing.name %> </h2>
<!-- test -->
<p><strong>Description:</strong> <%= @listing.description %></p>
<p><strong>Price::</strong> <%= @listing.price %>$</p>
<p><strong>Location::</strong> <%= @listing.location %></p>
<p><strong>Availability::</strong> <%= @listing.availability %></p>
>>>>>>> 3daca0a8493a92876a05596a60233fcb4cefe9d6

    <div class="card-body">
      <h5 class="card-title"><%= @listing.name %></h5>
        <p><strong>Description:</strong> <%= @listing.description %></p>
        <p><strong>Price:</strong> <%= @listing.price %>$</p>
        <p><strong>Location:</strong> <%= @listing.location %></p>
        <p><strong>Availability::</strong> <%= @listing.availability %></p>
    </div>

</div>

  <div class="d-flex justify-content-between" style="width: 30em; margin:0 auto;"
    <ul class="list-inline">
      <li class="list-inline-item btn btn-outline-primary btn-md"><%= link_to "Delete", listing_path(@listing), method: :delete, data: {confirm: "Are you sure?"} %></li>
      <li class="list-inline-item btn btn-outline-primary btn-md"><%= link_to "Edit", edit_listing_path %></li>
      <li class="list-inline-item btn btn-outline-primary btn-md"><%= link_to "Listings", listings_path %></li>
      <li class="list-inline-item btn btn-outline-primary btn-md"><%= link_to "New Listing", new_listing_path %></li>
    </ul>
  </div>
</div>
