<div class="banner" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ), url(<%= asset_path 'banner.jpg' %>)">
  <div class="container container-banner">
    <h1>Rent sports equipment<br> nearby</h1>
    <%= link_to "Explore the available gear", listings_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container">
  <h2 class="my-3 text-center">How it works</h2>
  <div class="cards row">
  <%# MAKE WHOLE CARDS CLICKABLE (links) DEPENDING ON ACTION %>
    <div class="card-info col-12 col-lg-4">
      <%= image_tag "pin.png", alt: "Find", width: 60 %>
      <h3 class="my-3">Find</h3>
      <p>Look for equipment available around you</p>
    </div>
    <div class="card-info col-12 col-lg-4">
      <%= image_tag "football.png", alt: "Find", width: 60 %>
      <h3 class="my-3">Lend</h3>
      <p>Lend the equipment you currently don't need</p>
    </div>
    <div class="card-info col-12 col-lg-4">
      <%= image_tag "confetti.png", alt: "Find", width: 60 %>
      <h3 class="my-3">Enjoy</h3>
      <p>Try out new equipment or make money out of the ones that's been laying around!</p>
    </div>
  </div>
</div>